<!-- Add Education --><br>
<mat-card>
    <mat-card-header>
        <span class="example-spacer"></span>
        <button mat-mini-fab color="primary" (click)="addProfession()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <!-- Education List -->
    <form *ngIf="professionalInfoForm" (ngSubmit)="submitForm()" [formGroup]="professionalInfoForm">
        <mat-card-content formArrayName="lstProfession">
            <mat-accordion class="example-headers-align">
                <ng-container *ngFor="let edu of profession.controls; let idx = index;" [formGroupName]="idx">
                    <mat-expansion-panel hideToggle>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{idx + 1}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ getcompanyName(edu) }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-grid-list cols="11" [rowHeight]="rowHeight" class="full-width border-1">
                            <!-- Delete -->
                            <mat-grid-tile colspan="1">
                                <button mat-mini-fab (click)="deleteProfession(idx)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-grid-tile>

                            <!-- isCurrent -->
                            <mat-grid-tile colspan="5">
                                <mat-checkbox formControlName="isCurrent">Currently employed here ?</mat-checkbox>
                            </mat-grid-tile>

                            <!-- type -->
                            <mat-grid-tile colspan="5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Employment Type</mat-label>
                                    <mat-select formControlName="type">
                                        <ng-container *ngFor="let type of professionalTypes">
                                            <mat-option *ngIf="!isNumber(type)" [value]="type">{{type}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="1"></mat-grid-tile>
                            <!-- companyName -->
                            <mat-grid-tile colspan="5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput placeholder="Company Name" formControlName="companyName">
                                </mat-form-field>
                            </mat-grid-tile>

                            <!-- companyLocation -->
                            <mat-grid-tile colspan="5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Company Location</mat-label>
                                    <input matInput placeholder="Company Location" formControlName="companyLocation">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile colspan="1"></mat-grid-tile>
                            <!-- joiningDate -->
                            <mat-grid-tile colspan="5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Joining Date</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="Joining Date"
                                        formControlName="joiningDate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </mat-grid-tile>


                        </mat-grid-list>
                        <app-pet-projects title="Projects" [petProjects]="professionalProjects(edu)"
                            [rowHeight]="rowHeight" [user]="user">
                        </app-pet-projects>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </mat-card-content>
    </form>
</mat-card>