.theme-card {
    max-width: 400px;
}

.theme-view {
    min-height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: middle;;
}

.theme-icon {
    width: 100%;
    text-align: center;
}

.theme-image {
    max-height: 150px;
}