<br>
<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let theme of previewService.lstPreviews">
        <mat-card class="theme-card">
            <mat-card-header>
                <mat-card-title>{{theme.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="theme-view">
                <!-- <mat-icon class="theme-icon">developer_mode</mat-icon> -->
                <img [src]="theme.image" class="theme-image" />
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="accent" (click)="apply(theme)">Apply</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>