.theme-card {
    max-width: 400px;
}

.theme-view {
    min-height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(206, 200, 231);
    vertical-align: middle;;
}

.theme-icon {
    width: 100%;
    text-align: center;
}