.footer-header {
    background-color: #ffbf30;
    height: 50px;
    color: white;
}

.footer {
    height: 150px;
    color: white;
}

.footer-header-container {
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    button {
        margin-right: 10px;
    }
}

.left-panel {
    background-color: transparent;
}

.right-panel {
    background-color: transparent;
}

.font-smaller {
    font-size: small !important;
}

.mat-card {
    box-shadow: none;
}