.footer-header {
    background-color: #ffbf30;
    height: 50px;
    color: white;
}

.footer {
    height: 100px;
    color: white;
}

.footer-header-container {
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    button {
        margin-right: 10px;
    }
}