<br>
<div class="info-form-container">
    <div class="info-form">
        <form *ngIf="infoForm" [formGroup]="infoForm" (ngSubmit)="submitForm()">
            <mat-accordion class="example-headers-align">
                <!-- Personal Info -->
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" color="primary" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your perosnal info / professional summary
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Input Controls --> <br>
                    <mat-grid-list cols="3" [rowHeight]="rowHeight" class="border-1">
                        <!-- fname -->
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="fname">
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- lname -->
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="lname">
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- jobStartDate -->
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>Job Start Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="jobStartDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- salary -->
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>Current Salary</mat-label>
                                <input matInput placeholder="First Name" formControlName="salary" type="number">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- resumeHeadLine -->
                        <mat-grid-tile colspan="3">
                            <mat-form-field class="full-width">
                                <mat-label>Resume Headline</mat-label>
                                <textarea matInput placeholder="In 50 words or less"
                                    formControlName="resumeHeadLine"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <!-- currentAddress --> <br>
                    <mat-card formGroupName="currentAddress" class="border-1">
                        <mat-card-header>
                            <mat-card-title>Current Address</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-grid-list cols="2" [rowHeight]="rowHeight">
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Street</mat-label>
                                        <textarea matInput formControlName="street"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Locality</mat-label>
                                        <textarea matInput formControlName="locality"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>City</mat-label>
                                        <textarea matInput formControlName="city"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>State</mat-label>
                                        <textarea matInput formControlName="state"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Country</mat-label>
                                        <textarea matInput formControlName="country"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <!-- <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>contactNumber</mat-label>
                                    <textarea matInput formControlName="contactNumber"></textarea>
                                </mat-form-field>
                            </mat-grid-tile> -->
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Email</mat-label>
                                        <textarea matInput formControlName="email"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card-content>
                    </mat-card>

                    <!-- permanentAddress --> <br>
                    <mat-card formGroupName="permanentAddress" class="border-1">
                        <mat-card-header>
                            <mat-card-title>Permanent Address</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-grid-list cols="2" [rowHeight]="rowHeight">
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Street</mat-label>
                                        <textarea matInput formControlName="street"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Locality</mat-label>
                                        <textarea matInput formControlName="locality"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>City</mat-label>
                                        <textarea matInput formControlName="city"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>State</mat-label>
                                        <textarea matInput formControlName="state"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Country</mat-label>
                                        <textarea matInput formControlName="country"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <!-- <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>contactNumber</mat-label>
                                    <textarea matInput formControlName="contactNumber"></textarea>
                                </mat-form-field>
                            </mat-grid-tile> -->
                                <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                        <mat-label>Email</mat-label>
                                        <textarea matInput formControlName="email"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card-content>
                    </mat-card>

                    <!-- noticePeriod --> <br>
                    <mat-card formGroupName="noticePeriod" class="border-1">
                        <mat-card-header>
                            <mat-card-title>Resignation Details</mat-card-title>
                            <mat-card-subtitle>
                                <!-- underNotice -->
                                <mat-checkbox formControlName="underNotice">Serving notice period?</mat-checkbox>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-grid-list class="full-width" cols="3" [rowHeight]="rowHeight">

                                <!-- resignationDate -->
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Resignation Date</mat-label>
                                        <input matInput [matDatepicker]="pickera" formControlName="resignationDate"
                                            [disabled]="!underNoticeControl.value">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="pickera"></mat-datepicker-toggle>
                                        <mat-datepicker #pickera></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- noticeEndDate -->
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Last Working Date</mat-label>
                                        <input matInput [matDatepicker]="pickerb" formControlName="noticeEndDate"
                                            [disabled]="!underNoticeControl.value">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="pickerb"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerb></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card-content>
                    </mat-card>

                    <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Pet Projects -->
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Pet Projects
                        </mat-panel-title>
                        <mat-panel-description>
                            Personal
                            <mat-icon>assignment</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- petProjects --> <br>
                    <mat-card formArrayName="petProjects">
                        <mat-card-header>
                            <span class="example-spacer"></span>
                            <button mat-mini-fab color="primary" (click)="addPetProject()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-content>
                            <ng-container *ngFor="let project of petProjects.controls; let idx = index;"
                                [formGroupName]="idx">
                                <mat-grid-list class="full-width border-bottom-1" cols="11" [rowHeight]="rowHeight">


                                    <!-- title -->
                                    <mat-grid-tile colspan="10">
                                        <button mat-mini-fab>
                                            {{idx + 1}}
                                        </button> &nbsp;&nbsp;&nbsp;
                                        <mat-form-field class="width-90">
                                            <mat-label>Title</mat-label>
                                            <input matInput placeholder="Title" formControlName="title">
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <button mat-mini-fab color="error" (click)="deletePetProject(idx)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-grid-tile>

                                    <!-- projectDuration -->
                                    <span formGroupName="projectDuration">
                                        <mat-grid-tile colspan="1">
                                            <mat-card-subtitle>Duration</mat-card-subtitle>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="9">

                                            <mat-form-field class="number-input">
                                                <mat-label>Years</mat-label>
                                                <input matInput placeholder="Years" formControlName="years">
                                                <span matSuffix>Years</span>
                                            </mat-form-field>
                                            <mat-form-field class="number-input">
                                                <mat-label>Months</mat-label>
                                                <input matInput placeholder="Months" formControlName="months">
                                                <span matSuffix>Months</span>
                                            </mat-form-field>
                                            <mat-form-field class="number-input">
                                                <mat-label>Days</mat-label>
                                                <input matInput placeholder="Days" formControlName="days">
                                                <span matSuffix>Days</span>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                    </span>

                                    <mat-grid-tile rowspan="4">
                                    </mat-grid-tile>

                                    <!-- myContributions -->
                                    <mat-grid-tile colspan="10">
                                        <mat-form-field class="full-width">
                                            <mat-label>My Contributions</mat-label>
                                            <textarea matInput placeholder="In 50 words or less"
                                                formControlName="myContributions"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <!-- projectDetails -->
                                    <mat-grid-tile colspan="10">
                                        <mat-form-field class="full-width">
                                            <mat-label>Project Details</mat-label>
                                            <textarea matInput placeholder="In 50 words or less"
                                                formControlName="projectDetails"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <!-- githubLink -->
                                    <mat-grid-tile colspan="10">
                                        <mat-form-field class="full-width">
                                            <mat-label>Github URL</mat-label>
                                            <textarea matInput placeholder="In 50 words or less"
                                                formControlName="githubLink"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                </mat-grid-list>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Educational -->
                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Educational
                        </mat-panel-title>
                        <mat-panel-description>
                            Starting from 10th till current
                            <mat-icon>library_books</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Add Mat form field -->

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Professional -->
                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Professional
                        </mat-panel-title>
                        <mat-panel-description>
                            Jobs/Projects/Skills
                            <mat-icon>work</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Add Controls -->

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Expertiese -->
                <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Expertiese
                        </mat-panel-title>
                        <mat-panel-description>
                            Technical Skills
                            <mat-icon>stars</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Add Controls -->

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Certification -->
                <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Certification
                        </mat-panel-title>
                        <mat-panel-description>
                            If Any
                            <mat-icon>notes</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Add Controls -->

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <!-- Family -->
                <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(5)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Family
                        </mat-panel-title>
                        <mat-panel-description>
                            Name and relations
                            <mat-icon>supervised_user_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Add Controls -->

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>
                </mat-expansion-panel>

            </mat-accordion>
        </form>
    </div>
</div>