.home-title {
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: color-burn;
}

.home-title-text {
    font-weight: bold;
    color: #005e14;
}

.how-to {
    position: relative;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1rem;
}

.step {
    width: 100%;
}

.title-container {
    background-color: #ffb000;
}

.header-image {
    background-image: url(../../../assets/header-image.png);
    background-repeat: no-repeat;
    background-position: right;
}

.start-building-button {
    padding: 34px;
    letter-spacing: 2px;
    font-size: large;
}