/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(253, 223, 188);
  background-image: url(./assets/logos/logo-white-no-background.png);
  background-blend-mode: color-burn;
}

.color-white {
  color: white !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.control-width {
  min-width: 200px;
}

.border-1 {
  border: solid 1px #efefef;
  border-radius: 4px;
}

.border-bottom-1 {
  border-bottom: solid 1px #efefef;
}

.number-input {
  width: 100px;
  padding-left: 32px;
  padding-right: 32px;
}

.standard-padding {
  padding: 32px;
}

.sub-standard-padding {
  padding: 16px;
}

.hidden {
  display: none;
}

.inline-icon {
  vertical-align: bottom;
}

.padding-right-5 {
  padding-right: 24px !important;
}

.disabled {
  opacity: 0.5;
}

.center-align {
  text-align: center;
}

.facebook {
  height: 29px;
  background-image: url(./assets/logos/social-media.png);
  background-position: 1px -339px;
  background-size: 220px;
  width: 26px;
  display: inline-block;
  padding-right: 10px;
}

.instagram {
  height: 29px;
  background-image: url(./assets/logos/social-media.png);
  background-position: -104px -373px;
  background-size: 220px;
  width: 26px;
  display: inline-block;
  padding-right: 10px;
}

.twitter {
  height: 29px;
  background-image: url(./assets/logos/social-media.png);
  background-position: -35px -338px;
  background-size: 220px;
  width: 26px;
  display: inline-block;
  padding-right: 10px;
}

.linkedin {
  height: 29px;
  background-image: url(./assets/logos/social-media.png);
  background-position: -137px -373px;
  background-size: 220px;
  width: 26px;
  display: inline-block;
  padding-right: 10px;
}

.youtube {
  height: 29px;
  background-image: url(./assets/logos/social-media.png);
  background-position: -115px -338px;
  background-size: 220px;
  width: 26px;
  display: inline-block;
  padding-right: 10px;
}

@media print {
  body {
    background-image: none !important;
    background-color: white;
  }

  .noprint {
    display: none !important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}