<mat-grid-list cols="12" rowHeight="100px" *ngIf="!printMode">
    <mat-grid-tile colspan="10" class="noprint"></mat-grid-tile>
    <mat-grid-tile colspan="2" class="noprint standard-padding view_container">
        <button mat-raised-button class="noprint" color="primary" (click)="print()">Print</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12" class="view_container" [ngClass]="{
        'standard-padding': !printMode
    }">
        <div class="view_container_div">
            data
        </div>
    </mat-grid-tile>
</mat-grid-list>