table {
    width: 100%;
}

.view_container {
    width: 100%;
}

.view_container_div {
    max-width: 1000px;
    min-width: 700px;
    padding: 10px;
    margin: 0 auto;
}

.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #ffffff;
}

.side-view {
    width: 200px;
    height: 100%;
    border-right: 0px !important;
    background-color: rgb(233, 162, 0);
}

.main-view {
    height: 100%;
}

img.avatar {
    width: 200px;
    font-size: 100px;
}

.short-info {
    font-size: small;
    color: gray;
}

.short-grid-info {
    font-size: small;
    color: white;
    letter-spacing: .1rem;
    padding: 1px;
}

.shorter-grid-info {
    font-size: small;
    color: white;
    font-style: italic;
}

.detail-header {
    background-color: white;
    border-top: solid 1px rgb(18, 28, 39);
    border-bottom: solid 1px rgb(233, 162, 0);
    height: 100px;
}

.sub-header {
    background-color: white;
    border-top: solid 1px rgb(233, 162, 0);
    border-bottom: solid 1px rgb(233, 162, 0);
}

.skills {
    font-size: xx-small;
    background-color: #efefef;
    color: gray;
}

.skills-width {
    max-width: 200px !important;
}

.title {
    font-weight: bold;
}

.cert-icon {
    padding-right: 10px;
    color: #f558a8;
}

.mat-divider {
    border-top-color: rgb(255, 179, 7);
}

.highlight {
    color: red;
}
.company-role {
    font-size: small;
}

.ending {
    background-image: url(../../../../../assets/thankYou.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    opacity: 0.5;
}

@media print {
    .company-role {
        font-size: x-small;
    }
  }