<mat-grid-list cols="12" rowHeight="100px" *ngIf="!printMode">
    <mat-grid-tile colspan="10" class="noprint"></mat-grid-tile>
    <mat-grid-tile colspan="2" class="noprint standard-padding view_container">
        <button mat-raised-button class="noprint" color="primary" (click)="print()">Print</button>
    </mat-grid-tile>
</mat-grid-list>

<div class="full-width">
    <div class="view_container_div">
        <mat-drawer-container class="example-container">
            <mat-drawer class="side-view" mode="side" opened>
                <img *ngIf="pic" class="avatar" id="myimage" [src]="pic" />

                <!-- Skills -->
                <br>
                <mat-list>
                    <mat-list-item>Skills</mat-list-item>
                    <ng-container *ngFor="let e of experienceDetails; let i = index">
                        <mat-divider></mat-divider>
                        <mat-list-item class="short-grid-info">
                            {{ e.name }}
                            <span class="example-spacer"></span>
                            <span class="shorter-grid-info">
                                {{ e.duration.years }} <span class="highlight">Y</span>
                                {{ e.duration.months && e.duration.months <= 9 ? '0' : '' }}{{ e.duration.months }}
                                    <span class="highlight">M</span>
                            </span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>

                <!-- Languages -->
                <br><br>
                <mat-list>
                    <mat-list-item>Languages</mat-list-item>
                    <ng-container *ngFor="let e of languages; let i = index">
                        <mat-divider></mat-divider>
                        <mat-list-item class="short-grid-info">
                            {{ e.name }}
                            <span class="example-spacer"></span>
                            <span class="shorter-grid-info" [ngClass]="{ 'disabled': !e.speak }">S</span>
                            <span class="shorter-grid-info" [ngClass]="{ 'disabled': !e.read }">R</span>
                            <span class="shorter-grid-info" [ngClass]="{ 'disabled': !e.write }">W</span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>

                <!-- Languages -->
                <br><br>
                <mat-list>
                    <mat-list-item>Family</mat-list-item>
                    <ng-container *ngFor="let e of families; let i = index">
                        <mat-divider></mat-divider>
                        <mat-list-item class="shorter-grid-info">
                            {{ e.name }}
                            <span class="example-spacer"></span>
                            <span class="shorter-grid-info">{{ e.relationship }}</span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>

            </mat-drawer>
            <mat-drawer-content class="main-view">
                <!-- header -->
                <mat-toolbar class="detail-header">
                    <div>
                        <span>{{ info?.fname }} {{ info?.lname }}</span> <br>
                        <span class="short-info italic">{{ info && info.professional && info.professional.length > 0 ?
                            info.professional[0].employeeRole : '' }}</span><br>
                        <div class="short-info">Experience ({{ experience }})</div>
                    </div>
                    <span class="example-spacer"></span>
                    <div class="short-info">
                        <span class="inline-icon">
                            <mat-icon class="padding-right-5">phone</mat-icon>
                            +91 - {{ info?.currentAddress?.contactNumber ?
                            info?.currentAddress?.contactNumber :
                            info?.permanentAddress?.contactNumber }}
                        </span><br>
                        <span class="inline-icon">
                            <mat-icon class="padding-right-5">email</mat-icon> {{ email }}
                        </span>
                    </div>
                </mat-toolbar>
                <br>

                <!-- resume headline -->
                <div class="sub-standard-padding">
                    <p align="justify">
                        {{ info?.resumeHeadLine }}
                    </p>
                </div>

                <!-- certifications -->
                <ng-container *ngIf="info?.certifications">
                    <ng-container *ngFor="let c of info?.certifications">
                        <span class="sub-standard-padding">
                            <mat-icon class="cert-icon">card_membership</mat-icon><span class="short-info">Certified in
                            </span> {{ c.name }} <span class="short-info"> from </span>
                            <a [href]="c.url" target="blank">{{ c.provider }}</a>
                        </span>
                    </ng-container>
                </ng-container>

                <!-- sub header - professional -->
                <br><br>
                <mat-toolbar class="sub-header">
                    IT Experience
                </mat-toolbar>
                <table mat-table [dataSource]="exp_dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef> Company </th>
                        <td mat-cell *matCellDef="let element" class="padding-right-5"> <span class="title">{{
                                element.company }}</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let element" class="padding-right-5">
                            <br>
                            {{ element.dates }}<br>
                            <span class="short-info">{{ element.duration }}</span>
                            <br><br>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef> Role </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="company-role">{{ element.role }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="skills">
                        <th mat-header-cell *matHeaderCellDef> Skills </th>
                        <td mat-cell *matCellDef="let element" class="skills-width">
                            <div class="sub-standard-padding">
                                <mat-chip-list>
                                    <mat-chip *ngFor="let skill of professionalSkills(element)" class="skills">
                                        {{skill}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="projects">
                        <th mat-header-cell *matHeaderCellDef> Projects </th>
                        <td mat-cell *matCellDef="let element">
                            <app-projects [projects]="element.projects"></app-projects>
                            <!-- {{ element | json}} -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="exp_columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: exp_columns;"></tr>
                </table>

                <!-- sub header - education -->
                <br><br>
                <mat-toolbar class="sub-header">
                    Qualification
                </mat-toolbar>
                <table mat-table [dataSource]="edu_dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="course">
                        <th mat-header-cell *matHeaderCellDef> Course </th>
                        <td mat-cell *matCellDef="let element" class="company-role">
                            <b>{{ element.course }}</b>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element">
                            <br>
                            {{ element.specialization }} <br>
                            <span class="short-info">from<br>
                                {{ element.university }}</span>
                            <br>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="short-info">{{ element.st }}</span>
                            -
                            <span class="short-info">{{ element.ed }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="projects">
                        <th mat-header-cell *matHeaderCellDef> Projects </th>
                        <td mat-cell *matCellDef="let element">
                            <app-projects [projects]="element.projects"></app-projects>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="edu_columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: edu_columns;"></tr>
                </table>
            </mat-drawer-content>
        </mat-drawer-container>

        <mat-drawer-container class="example-container">
            <mat-drawer class="side-view" mode="side" opened>
            </mat-drawer>
            <mat-drawer-content class="main-view sub-standard-padding ending">
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>