.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }
  
  .mat-expansion-panel {
    background: #f0e8ff;
  }
  
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header.mat-expanded:focus {
    background: #f0e8ff;
  }
  
  .mat-expansion-panel.mat-expanded,
  .mat-expansion-panel.mat-expanded:hover,
  .mat-expansion-panel.mat-expanded:focus {
    background: #ffffff;
  }