<!-- petProjects --> <br>
<mat-card>
    <mat-card-header>
        <mat-card-title> {{ title }} </mat-card-title>
        <span class="example-spacer"></span>
        <button mat-mini-fab color="primary" (click)="addPetProject()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <form *ngIf="projects" (ngSubmit)="submitForm()" [formGroup]="projects">
        <mat-card-content formArrayName="lstProjects">
            <mat-accordion class="example-headers-align"></mat-accordion>
            <ng-container *ngFor="let project of petProjects?.controls; let idx = index;" [formGroupName]="idx">
                <mat-expansion-panel [expanded]="false" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{idx + 1}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ getProjectTitle(project) }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-grid-list class="full-width border-1" [cols]="mobileView ? 10 : 11" [rowHeight]="rowHeight">

                        <!-- delete -->
                        <mat-grid-tile [colspan]="mobileView ? 10 : 1">
                            <button mat-mini-fab color="error" (click)="deletePetProject(idx)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-grid-tile>

                        <!-- title -->
                        <mat-grid-tile [colspan]="10">
                            <mat-form-field class="width-90">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="Title" formControlName="title">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                        <!-- projectDuration -->
                        <span formGroupName="projectDuration">
                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView">
                                <mat-card-subtitle>Duration</mat-card-subtitle>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="mobileView ? 10 : 9">

                                <mat-form-field class="number-input">
                                    <mat-label>Years</mat-label>
                                    <input matInput placeholder="Years" formControlName="years" type="number">
                                    <span matSuffix>Years</span>
                                </mat-form-field>
                                <mat-form-field class="number-input">
                                    <mat-label>Months</mat-label>
                                    <input matInput placeholder="Months" formControlName="months" type="number">
                                    <span matSuffix>Months</span>
                                </mat-form-field>
                                <mat-form-field class="number-input" *ngIf="!mobileView">
                                    <mat-label>Days</mat-label>
                                    <input matInput placeholder="Days" formControlName="days" type="number">
                                    <span matSuffix>Days</span>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile *ngIf="mobileView" colspan="10">
                                <mat-form-field class="number-input">
                                    <mat-label>Days</mat-label>
                                    <input matInput placeholder="Days" formControlName="days" type="number">
                                    <span matSuffix>Days</span>
                                </mat-form-field>
                            </mat-grid-tile>
                        </span>

                        <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                        <!-- myContributions -->
                        <mat-grid-tile [colspan]="10">
                            <mat-form-field class="full-width">
                                <mat-label>My Contributions</mat-label>
                                <textarea matInput placeholder="In 50 words or less"
                                    formControlName="myContributions"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                        <!-- projectDetails -->
                        <mat-grid-tile [colspan]="10">
                            <mat-form-field class="full-width">
                                <mat-label>Project Details</mat-label>
                                <textarea matInput placeholder="In 50 words or less"
                                    formControlName="projectDetails"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                        <!-- githubLink -->
                        <mat-grid-tile [colspan]="10">
                            <mat-form-field class="full-width">
                                <mat-label>Github URL</mat-label>
                                <textarea matInput placeholder="In 50 words or less"
                                    formControlName="githubLink"></textarea>
                            </mat-form-field>
                        </mat-grid-tile>

                    </mat-grid-list>
                </mat-expansion-panel>
            </ng-container>
        </mat-card-content>
    </form>
</mat-card>