<!-- Add Education --><br>
<mat-card>
    <mat-card-header>
        <span class="example-spacer"></span>
        <button mat-mini-fab color="primary" (click)="addEducation()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <!-- Education List -->
    <form *ngIf="educationForm" (ngSubmit)="submitForm()" [formGroup]="educationForm">
        <mat-card-content formArrayName="lstEducation">
            <mat-accordion class="example-headers-align">
                <ng-container *ngFor="let edu of education.controls; let idx = index;" [formGroupName]="idx">
                    <mat-expansion-panel hideToggle>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{idx + 1}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ getCourse(edu) }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-grid-list [cols]="mobileView ? 1 : 11" [rowHeight]="rowHeight" class="full-width border-1">
                            <!-- Delete -->
                            <mat-grid-tile [colspan]="1">
                                <button mat-mini-fab (click)="deleteEducation(idx)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-grid-tile>

                            <!-- university -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>University</mat-label>
                                    <input matInput placeholder="University" formControlName="university">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView"></mat-grid-tile>
                            <!-- course -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Course</mat-label>
                                    <input matInput placeholder="Course" formControlName="course">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView"></mat-grid-tile>
                            <!-- specialization -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Specialization</mat-label>
                                    <input matInput placeholder="Specialization" formControlName="specialization">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView"></mat-grid-tile>
                            <!-- type -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Education Type</mat-label>
                                    <mat-select formControlName="type">
                                        <ng-container *ngFor="let type of educationTypes">
                                            <mat-option *ngIf="!isNumber(type)" [value]="type">{{type}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="5" *ngIf="!mobileView"></mat-grid-tile>

                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView"></mat-grid-tile>
                            <!-- startedOn -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Started On</mat-label>
                                    <input matInput [matDatepicker]="pickerd" placeholder="Started On"
                                        formControlName="startedOn">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerd></mat-datepicker>
                                </mat-form-field>
                            </mat-grid-tile>

                            <!-- endedOn -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Ended On</mat-label>
                                    <input matInput [matDatepicker]="pickere" placeholder="Ended On"
                                        formControlName="endedOn">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="pickere"></mat-datepicker-toggle>
                                    <mat-datepicker #pickere></mat-datepicker>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" *ngIf="!mobileView"></mat-grid-tile>
                            <!-- marksScored -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Marks Scored</mat-label>
                                    <input matInput type="number" placeholder="Marks Scored"
                                        formControlName="marksScored">
                                </mat-form-field>
                            </mat-grid-tile>

                            <!-- maxPossibleScore -->
                            <mat-grid-tile [colspan]="mobileView ? 1 : 5">
                                <mat-form-field class="full-width standard-padding">
                                    <mat-label>Max Possible Score</mat-label>
                                    <input matInput type="number" placeholder="Max Possible Score"
                                        formControlName="maxPossibleScore">
                                </mat-form-field>
                            </mat-grid-tile>


                        </mat-grid-list>
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title> Projects </mat-card-title>
                                <span class="example-spacer"></span>
                                <button mat-mini-fab color="primary" (click)="addProject(edu)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </mat-card-header>
                            <mat-card-content formArrayName="projects">
                                <mat-accordion class="example-headers-align"></mat-accordion>
                                <ng-container *ngFor="let project of educationalProjects(edu)?.controls; let idx1 = index;"
                                    [formGroupName]="idx1">
                                    <mat-expansion-panel [expanded]="false" hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{idx1 + 1}}
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{ getProjectTitle(project) }}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-grid-list class="full-width border-1" [cols]="mobileView ? 1 : 11" [rowHeight]="rowHeight">

                                            <!-- delete -->
                                            <mat-grid-tile>
                                                <button mat-mini-fab color="error" (click)="deleteProject(edu, idx1)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </mat-grid-tile>

                                            <!-- title -->
                                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                                <mat-form-field class="width-90">
                                                    <mat-label>Title</mat-label>
                                                    <input matInput placeholder="Title" formControlName="title">
                                                </mat-form-field>
                                            </mat-grid-tile>

                                            <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                                            <!-- projectDuration -->
                                            <span formGroupName="projectDuration">
                                                <mat-grid-tile [colspan]="1" *ngIf="!mobileView">
                                                    <mat-card-subtitle>Duration</mat-card-subtitle>
                                                </mat-grid-tile>
                                                <mat-grid-tile [colspan]="mobileView ? 1 : 9">

                                                    <mat-form-field class="number-input">
                                                        <mat-label>Years</mat-label>
                                                        <input matInput placeholder="Years" formControlName="years" type="number">
                                                        <span matSuffix>Years</span>
                                                    </mat-form-field>
                                                    <mat-form-field class="number-input">
                                                        <mat-label>Months</mat-label>
                                                        <input matInput placeholder="Months" formControlName="months" type="number">
                                                        <span matSuffix>Months</span>
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!mobileView" class="number-input">
                                                        <mat-label>Days</mat-label>
                                                        <input matInput placeholder="Days" formControlName="days" type="number">
                                                        <span matSuffix>Days</span>
                                                    </mat-form-field>
                                                </mat-grid-tile>
                                                <mat-grid-tile [colspan]="1" *ngIf="mobileView">
                                                    <mat-form-field class="number-input">
                                                        <mat-label>Days</mat-label>
                                                        <input matInput placeholder="Days" formControlName="days" type="number">
                                                        <span matSuffix>Days</span>
                                                    </mat-form-field>
                                                </mat-grid-tile>
                                            </span>

                                            <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                                            <!-- myContributions -->
                                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                                <mat-form-field class="full-width">
                                                    <mat-label>My Contributions</mat-label>
                                                    <textarea matInput placeholder="In 50 words or less"
                                                        formControlName="myContributions"></textarea>
                                                </mat-form-field>
                                            </mat-grid-tile>

                                            <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                                            <!-- projectDetails -->
                                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                                <mat-form-field class="full-width">
                                                    <mat-label>Project Details</mat-label>
                                                    <textarea matInput placeholder="In 50 words or less"
                                                        formControlName="projectDetails"></textarea>
                                                </mat-form-field>
                                            </mat-grid-tile>

                                            <mat-grid-tile *ngIf="!mobileView"></mat-grid-tile>
                                            <!-- githubLink -->
                                            <mat-grid-tile [colspan]="mobileView ? 1 : 10">
                                                <mat-form-field class="full-width">
                                                    <mat-label>Github URL</mat-label>
                                                    <textarea matInput placeholder="In 50 words or less"
                                                        formControlName="githubLink"></textarea>
                                                </mat-form-field>
                                            </mat-grid-tile>

                                        </mat-grid-list>
                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-card-content>
                        </mat-card>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </mat-card-content>
    </form>
</mat-card>